<a href="https://colab.research.google.com/github/ahmed-dev-tech/Computer-Vision-With-AI/blob/main/Python%20Crash%20Course%20Week%201/1_2_Input%2C_eval%2C_lists%2C_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Crash Course**

**Taking Input**

In [1]:
name = input("Enter your name: ")
print('hello ' + name)

Enter your name: Ahmed
hello Ahmed

In [ ]:
Age = int(input("Enter your age: "))
print("Your actual age is : " , Age + 2)

### **Evaluating** 
`eval:` lets you evaluate expressions or variables

In [6]:
math = "(25+5) * 10"
eval(math)

300

You can also Evaluate Variables like below

In [7]:
e_value = 45
print('e_value')
print(eval('e_value'))

e_value
45

**Now lets make a Calculator in 2 lines of Python**

In [10]:
exp = input("Enter any Math Expression: ")
print('Answer: ' + str(eval(exp)))

Enter any Math Expression: 5-3
Answer: 2

# **Assignment 2: Dynamic Story Make**r 
**Create a Dynamic e 2-3 lines story in which you first ask the user his name and a few other things and make a story out of it**

In [11]:
##ADD CODE BELOW
# ~ 8 lines
prof = input("What you want to be ?")
name = input("What is your good name ?")
age = input("What is your age ?")
print("Hey from future " + prof + " " + "named " + name + " " + "I hope you are doing well. I am " + (age) + " " + "old"  )

What you want to be ?AI Engineer
What is your good name ?Ahmed shahid
What is your age ?23
Hey from future AI Engineer named Ahmed shahid I hope you are doing well. I am 23 old

### **Lists**

**In Python programming, a list is created by placing all the items (elements) inside a square bracket [ ], separated by commas. It can have any number of items and they may be of different types (integer, float, string etc.).**

A list can be of Numbers

In [12]:


number_list = [1,2,3]
print(number_list)

[1, 2, 3]

It can be of Letters

In [13]:
letter_list = ['s','d','f','d']
print(letter_list)

['s', 'd', 'f', 'd']

It Can be of Words

In [14]:
word_list = ['hello', 'Who','Mister','what']
print(word_list)

['hello', 'Who', 'Mister', 'what']

A list can be a list of Lists

In [15]:
list_of_lists =[[1,2,3], [12,2,213,212,3],['sdsa','df','fd']]
print(list_of_lists)

[[1, 2, 3], [12, 2, 213, 212, 3], ['sdsa', 'df', 'fd']]

It can be a combination of All of them

In [16]:
mix_list = ['h',1,'world',[2,'ad']]
print(mix_list)

['h', 1, 'world', [2, 'ad']]

### **Some List methods**

In [17]:
my_list = ['a','b','c','d','e']

Pop out the last Element

In [18]:
my_list.pop()
my_list

['a', 'b', 'c', 'd']

Add an Element to the List

In [19]:
my_list.append('z')

In [20]:
my_list

['a', 'b', 'c', 'd', 'z']

**Indexing**
You can index into the list and pull out a specific Element

In [21]:
my_list[0]

'a'

In [22]:
my_list[1]

'b'

You can also Reverse Index in a list <br>
For e.g `-1` will give you the the last element of the list

In [23]:
my_list[-1]

'z'

In [24]:
my_list[-2] # 2nd last

'd'

### **Slicing**
You can Slice the list, Upper Limit is not Included <br>
So `0:3` Means Give me Elements ranging from 0 to 2

In [25]:
my_list[:1]  # the upper limit is not included

['a']

In [26]:
my_list[1:3]

['b', 'c']

Below Command is Equal to the Above command <br>
So `:3` Means give me Elements from Start to 2

In [27]:
my_list[:3]

['a', 'b', 'c']

Similarly you can slice from some index to End of list

In [28]:

my_list[3:]

['d', 'z']

You Can Modify any existing value of the list

In [29]:
my_list[0] = 'NEW'

In [30]:
my_list

['NEW', 'b', 'c', 'd', 'z']

#### Lets take Look at a Nested list
Can you print out the string target through Indexing

In [31]:

nest = [1,2,3,[4,5,['target']]]  # the third element of thrid element is also a list # this is like dabe me daba

In [32]:
nest[3]

[4, 5, ['target']]

In [33]:
nest[3][2]

['target']

In [34]:
nest[3][2][0]

'target'

You can also check if a particular element exists in a list

In [35]:
'x' in ['x','y','z']

True

### **Dictionaries**

**A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.**

In [36]:
d = {'key1': 'Value1' ,  'key2':'Value'}

Consider Below Example of a Dictionary in which Key is the name of a person and the value is his/her phone number

In [37]:
d = {'Taha': 923132283550,  'Sara' : 923332234450 , 'Mustafa': 923212062374}

Now if Needed Mustafa's Phone Number I would do this:

In [38]:
d['Mustafa']

923212062374

You can use anything as a key, integers, strings etc.

Note: You can't Append to a dictionary

In [39]:
d.append['Mouse'] = "Cheese"         #we can't use append keyword in dictionary

AttributeError: ignored

Now this is how you add a new Key Value Pair

In [40]:
d['Mouse'] = 'Cheese'    # Set a new entry in a dictionary
d

{'Mouse': 'Cheese',
 'Mustafa': 923212062374,
 'Sara': 923332234450,
 'Taha': 923132283550}

This is How you Delete a Key Value Pair

In [41]:
del d['Sara']

In [42]:
d

{'Mouse': 'Cheese', 'Mustafa': 923212062374, 'Taha': 923132283550}

You Can Update Existing Values

In [43]:
d['Taha'] = '92323358330'      #update key1 value with chicken
d

{'Mouse': 'Cheese', 'Mustafa': 923212062374, 'Taha': '92323358330'}

Here are all your dict keys

In [44]:
d.keys()

dict_keys(['Taha', 'Mustafa', 'Mouse'])

Here are all you dict values

In [45]:
d.values()

dict_values(['92323358330', 923212062374, 'Cheese'])

Here are all your dict items (key/value pairs)

In [46]:
d.items()

dict_items([('Taha', '92323358330'), ('Mustafa', 923212062374), ('Mouse', 'Cheese')])