# **Python Crash Course**

**Booleans**

**True or False in Python. ... Boolean values are the two constant objects False and True. They are used to represent truth values**

In [ ]:
Bachelor  = True

In [ ]:
Bachelor

True

You can Compare Two Values to see if the statement or values on both sides are equal or not

In [ ]:
5 == 3

False

In [ ]:
1 + 3 == 2 * 2 == 2 + 2

True

In [ ]:
2.0 == 2

True

Remeber to use a double  `=` sign for comparasion , a single `=` means assignment

In [ ]:
name = 'Sam'

In [ ]:
name == 'Sam'

True

Remeber Captial Alphabets are not equal to normal ones

In [ ]:
"Sam" == "sAm"

False

**Tuples**

**A tuple is a sequence of immutable (Non-changable or fixed) Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.**

In [ ]:
t = (1,2,3)

In [ ]:
t[0]

1

You cannot assign values to a tuple nor you can append it

In [ ]:
t[0] = 'NEW'

TypeError: ignored

Otherwise its pretty much same as a list

In [ ]:
t1 = ('ali','ahmed','ammar')
t1

('ali', 'ahmed', 'ammar')

In [ ]:
t2 = ("Ali",'Ammar',1)

Sets

**A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements**

You can include elements of Different Datatypes

In [ ]:
s1= {1,2,4,3,"h"}          #collection of different data type, always print in order wise
s1

{1, 2, 3, 4, 'h'}

No Duplicates, And Numbers are in Order

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}  # unique elemnents are included only

{1, 2, 3}

You add new Elements like this

In [ ]:
s1.add(6)        
s1

{1, 2, 3, 4, 6, 'h'}

Comparison Operator

**A comparison operator in python, also called python relational operator, compares the values of two operands and returns True or False based on whether the condition is met**

In [ ]:
1 > 2      #greater than

False

In [ ]:
1 < 2     # less than

True

In [ ]:
1 == 1    #equal to

True

In [ ]:
1 >= 1    #greater than or equal to

True

In [ ]:
1 <= 4    # less than or equal to

True

In [ ]:
'Win' == 'win'

False

In [ ]:
'Win' != "win"     #not equals to

True

Logic Operators

**The logical operators in Python are used to combine the true or false values of variables (or expressions) so you can figure out their resultant truth value. Three logical operators are available in Python:**

The And Operator

In [ ]:
(1 < 2)

True

In [ ]:
(1 < 2) and (2 > 3)        #AND

False

In [ ]:
5 == 5 and 0 < 3

True

The Or Operator

In [ ]:
(1 > 2) or (2 < 3)          # OR

True

In [ ]:
20 + 3 >= 23 or 5 != 5

True

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

True

The Not Operator

In [ ]:
not True           #NOT

False

In [ ]:
not 5 > 3

False

In [ ]:
not (5 < 3 and 5 < 33)

True

In [ ]:
not (5 < 6 or 5 < 3 and 5 < 33)

False

**Conditional Statements**
**if,elif, else Statements**

**Decision making is required when we want to execute a code only if a certain condition is satisfied. <br>
<i> The if…elif…else statement is used in Python for decision making.</i>**

To use an if statement you write if then pass in a condition followed by a colon, the condition part comes in the next line after indentation (space).

In [ ]:
age = 12

if age < 14:
    print("sorry you're too young for this ride")

sorry you're too young for this ride

Notice only the indented part is actually inside the if condition

In [ ]:
age = 14

if age < 14:
    print("sorry you're too young for this ride")    

print('Always print')

Always print

Similarly you can also add an else condition like below

In [ ]:
Memeber_of_club = False

if Memeber_of_club == True:
    print('Welcome')
else:
    print('Sorry You are not allowed here')

Sorry You are not allowed here

<b>Note: </b> Bollean Conditions like above can also be checked like this: `if condition:` <br>
<i>No Need to do `== True` </i>

In [ ]:
Memeber_of_club = True
if Memeber_of_club:
    print('Welcome')

Welcome

In Other Programming Languages there is an `else if`  check for multiple conditions, just like that python also has an else if but its called `elif` in python 3.

In [ ]:
status = 'bad'

if status == 'good':
    print('He did pretty well')
elif status == 'bad':
    print('He really messed up')
else:
    print('I dont know how he did')

He really messed up

### Now look at this automatic datatype finder, which spits out the datatype of the entered value

In [ ]:
var1 = input("Enter anything")
var1 = eval(var1)

if (type(var1) == int):
    print("Type of the variable is Integer")
elif (type(var1) == float):
    print("Type of the variable is Float")
elif (type(var1) == complex):
    print("Type of the variable is Complex")
elif (type(var1) == bool):
    print("Type of the variable is Bool")
elif (type(var1) == str):
    print("Type of the variable is String")
elif (type(var1) == tuple):
    print("Type of the variable is Tuple")
elif (type(var1) == dict):
    print("Type of the variable is Dictionaries")
elif (type(var1) == list):
    print("Type of the variable is List")
else:
    print("Type of the variable is Unknown")

Enter anything[1]
Type of the variable is List

## **Assignment 3:  Make an Auto Grader**
So your task is to make an auto grader which will be a program that asks user their percentage and based on the percentage prints their Grade i.e. A+, A, B, C, and F. The threshold of the grades can be decided by you for e.g you can choose to give A+ over 90 or 90+ <br>
The code will be pretty similar to the above code

In [ ]:
#ADD CODE HERE
percentage = int(input("what is your percentage "))

if percentage >= 90:
  print("A+")
elif percentage >= 80 & percentage < 90:
  print("A")
elif percentage >= 70 & percentage < 80:
  print("B")
elif percentage >= 60 & percentage < 70:
  print("C")
else :
  print("F")

what is your percentage 85
A